[submodule "mcmmtk/gtx"]
	path = mcmmtk_pkg/gtx
	url = git@github.com:pwil3058/pysm_gtx.git
[submodule "mcmmtk/bab"]
	path = mcmmtk_pkg/bab
	url = git@github.com:pwil3058/pysm_bab.git
[submodule "mcmmtk/epaint"]
	path = mcmmtk_pkg/epaint
	url = git@github.com:pwil3058/pysm_epaint.git
[submodule "mcmmtk/pixbufx"]
	path = mcmmtk_pkg/pixbufx
	url = git@github.com:pwil3058/pysm_pixbufx.git
