[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=mcmmtk: Mixer
Name[en_AU]=mcmmtk: Mixer
Exec=mcmmtk_mixer.py
Comment=Modeller's Colour Matching/Matching Tool Kit Mixer
Comment[en_AU]=Modeller's Colour Matching/Matching Tool Kit Mixer
Icon=mcmmtk
Categories=GNOME;GTK;Graphics;X-Modelling;
